CONFIG_SERVER_URL=http://localhost:8021
PRODUCT_DB_URL=jdbc:postgresql://blubug.me:8002/bakery_products
PRODUCT_DB_USER=product_user
PRODUCT_DB_PASSWORD=product_password
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ELASTICSEARCH_URIS=http://localhost:9200
REDIS_HOST=blubug.me
REDIS_PORT_PRODUCT=6380
EUREKA_URL=http://localhost:8761/eureka/
AWS_S3_ENDPOINT=https://59ff51457eb45453daa57ffa1f4a20bd.r2.cloudflarestorage.com
AWS_S3_PUBLIC_URL=https://pub-49a69af59fc44431a21809176dd88bb8.r2.dev
AWS_ACCESS_KEY=ad4653738654f9f0e8baf193fd9af2a3
AWS_SECRET_KEY=a64f372de305f1e9bc8f94c84209ee8098383f81bf333dbb21e7b534d554935b
