CONFIG_SERVER_URL=http://bakery-config-server:8021
PRODUCT_DB_URL=mongodb://your_db_user:your_db_password@bakery-products-db:27017/bakery_products
PRODUCT_DB_USER=product_user
PRODUCT_DB_PASSWORD=your_product_db_password
KAFKA_BOOTSTRAP_SERVERS=bakery-kafka:9092
ELASTICSEARCH_URIS=http://localhost:9200
REDIS_HOST=bakery-carts-redis
REDIS_PORT_PRODUCT=6380
EUREKA_URL=http://bakery-eureka-server:8761/eureka/
R2_ENDPOINT=https://your-r2-endpoint.com
R2_CDN_URL=https://your-public-url.com
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
