# Example Environment variables for bakery_product_service
ACTIVE_PROFILE=dev
CONFIG_SERVER_URL=http://config-server:8021
ELASTICSEARCH_URIS=http://bakery-elastic:9200
EUREKA_URL=http://eureka-server:8761/eureka/
KAFKA_BOOTSTRAP_SERVERS=bakery-kafka:9092
PRODUCT_DB_PASSWORD=product_password
PRODUCT_DB_URL=mongodb://product_user:product_password@bakery-products-db:27017/bakery_products
PRODUCT_DB_USER=product_user
R2_ACCESS_KEY=ad4653738654f9f0e8baf193fd9af2a3
R2_CDN_URL=https://pub-49a69af59fc44431a21809176dd88bb8.r2.dev
R2_ENDPOINT=https://59ff51457eb45453daa57ffa1f4a20bd.r2.cloudflarestorage.com
R2_SECRET_KEY=a64f372de305f1e9bc8f94c84209ee8098383f81bf333dbb21e7b534d554935b
REDIS_HOST=bakery-carts-redis
REDIS_PORT_PRODUCT=6379
